
<%if @event == nil %>
	<div id="huge">Nope</div>
	<div id="upcoming_event">
		<p>there doesn't seem to be any upcomming events either</p>
		<p>check the <a href="http://www.liberty-stadium.com/events.php">Liberty Stadium Events Calendar</a> to be sure<p>
	</div>
<%else%>
	<% if@event.on_today%>
		<div id="huge">Yes</div>
		<div id="upcoming_event">
			<p><a href="<%=@event.url %>"><%=@event.name %></a> is on today at <%= @event.date.strftime("%H:%M") %></p>
		</div>
	<% else %>
		<div id="huge">Nope</div>
		<div id="upcoming_event">
			<p>but <a href="<%=@event.url %>"><%=@event.name %></a> is on <%= @event.date.strftime("%A %B %Y at %H:%M")%></p>
		</div>
	<% end %> 
<%end%>

