<%if @event == nil %>
	<div id="huge"><%=@n %></div>
	<div id="upcoming_event">
		<p>there doesn't seem to be any upcomming events either</p>
		<p>you might want to <a href="http://int.soccerway.com/teams/wales/swansea-city-afc/738/matches/">check</a> <a href="http://www.ospreysrugby.com/FixturesResults/Season">our</a> <a href="http://www.liberty-stadium.com/events.php">sources</a> to be sure <p>
	</div>
<%else%>
	<% if@event.on_today%>
		<div id="huge"><%=@y %></div>
		<div id="upcoming_event">
			<p><a href="<%=@event.url %>"><%=@event.name %></a> is on today at <%= @event.date.strftime("%H:%M") %></p>
		</div>
	<% else %>
		<div id="huge"><%=@n %></div>
		<div id="upcoming_event">
			<p>
			but <a href="<%=@event.url %>"><%=@event.name %></a> is <%=DateHelper.readable_future_date(@event.date) %> <br/>
			(<%= @event.date.strftime("%A %B %d %Y at %H:%M")%>)
			</p>
		</div>
	<% end %> 
<%end%>